<admin-banner></admin-banner>
<div class="container-fluid">
  <div *ngIf="!inPreviewMode" class="row text-white">
    <div class="container mat-elevation-z8">
      <div class="search-container">
        <mat-form-field appearance="fill" class="row text-black">
          <input
            matInput
            placeholder="Search..."
            autocomplete="off"
            (keyup)="filterData($event)"
          />
        </mat-form-field>
      </div>
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
        </ng-container>
        <ng-container matColumnDef="orderPrice">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.orderPrice }}</td>
        </ng-container>
        <ng-container matColumnDef="orderQuantity">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">
            {{ element.orderQuantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="details" stickyEnd>
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              class="btn btn-success bg-success btn-sm float-end"
              (click)="viewOrderDetails(element)"
            >
              Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50, 100]"
      ></mat-paginator>
    </div>
    <div class="row d-flex justify-content-center p-2">
      <button class="btn btn-primary m-1 button" routerLink="/admin">
        Back
      </button>
    </div>
  </div>
  <div *ngIf="inPreviewMode" class="row text-white">
    <div class="col-2 p-2 text-dark">
      <div>
        <label class="label">Order Header</label>
        <div id="order" class="card m-1 p-1 bg-light">
          <div class="card-text bg-white p-1">
            <label>Name:&nbsp;</label>{{ selectedOrder.name }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Address:&nbsp;</label>{{ selectedOrder.address }}
          </div>
          <div class="card-text bg-white p-1">
            <label>City:&nbsp;</label>{{ selectedOrder.city }}
          </div>
          <div class="card-text bg-white p-1">
            <label>State:&nbsp;</label>{{ selectedOrder.state }}
          </div>
          <div class="card-text bg-white p-1">
            <label>PostCode:&nbsp;</label>{{ selectedOrder.postCode }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Country:&nbsp;</label>{{ selectedOrder.country }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Shipped:&nbsp;</label>{{ selectedOrder.shipped }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Order Date:&nbsp;</label
            >{{ selectedOrder.orderDate | date : "dd/MM/yyyy" }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Price:&nbsp;</label
            >{{ selectedOrder.orderPrice | currency : "GBP" : "symbol" }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Quantity:&nbsp;</label>{{ selectedOrder.orderQuantity }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 p-2 text-dark">
      <div>
        <label class="label">Order Lines</label>
        <div
          id="orders"
          *ngFor="let orderDetail of orderDetails"
          class="card m-1 p-1 bg-light"
        >
          <div class="card-text bg-white p-1">
            <label>Product:&nbsp;</label>{{ orderDetail.name }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Quantity:&nbsp;</label>{{ orderDetail.quantity }}
          </div>
          <div class="card-text bg-white p-1">
            <label>Price:&nbsp;</label
            >{{ orderDetail.price | currency : "GBP" : "symbol" }}
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-2">
      <button class="btn btn-primary m-1 button" (click)="closeOrderDetails()">
        Back
      </button>
    </div>
  </div>
</div>
