<admin-banner></admin-banner>
<div class="container">  
    <div class="row align-items-center" style='min-height: 20vh;'>
                       
            <button class="btn btn-success" routerLink="/product-editor">
                Product Editor
            </button>                          
            <button class="btn btn-success" routerLink="/order">
                Orders
            </button>                          
            <button class="btn btn-danger" routerLink="/product-list">
                Back
            </button>
           
    </div>                    
</div>                                        
      
   


