<admin-banner></admin-banner>
<div class="container-fluid">
  <div class="row" style="min-height: 20vh">
    <div class="d-flex justify-content-center p-2">
      <button class="btn btn-success" routerLink="/product-editor">
        Product Editor
      </button>
    </div>
    <div class="d-flex justify-content-center p-2">
      <button class="btn btn-success" routerLink="/orders">Orders</button>
    </div>
    <div class="d-flex justify-content-center p-2">
      <button class="btn btn-primary" routerLink="/product-list">Back</button>
    </div>
  </div>
</div>
